@font-face {
    font-family: "JetBrainsMono-Bold-Italic";
    src: url('../res/font/JetBrainsMono-Bold-Italic.ttf');
}

@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url('../res/font/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: "JetBrainsMono-ExtraBold-Italic";
    src: url('../res/font/JetBrainsMono-ExtraBold-Italic.ttf');
}

@font-face {
    font-family: "JetBrainsMono-ExtraBold";
    src: url('../res/font/JetBrainsMono-ExtraBold.ttf');
}

@font-face {
    font-family: "JetBrainsMono-Italic";
    src: url('../res/font/JetBrainsMono-Italic.ttf');
}

@font-face {
    font-family: "JetBrainsMono-Medium-Italic";
    src: url('../res/font/JetBrainsMono-Medium-Italic.ttf');
}

@font-face {
    font-family: "JetBrainsMono-Medium";
    src: url('../res/font/JetBrainsMono-Medium.ttf');
}


@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url('../res/font/JetBrainsMono-Regular.ttf');
}
