
.shellContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%; height: 100%;
}

.tagStatusLight {
    display: inline-block;
    width: 11px; height: 11px;
    margin: 7px 7px 7px 0px;
    border-radius: 50%;
    background-color: rgb(1, 117, 146);
}
